<!-- clients -->
<section class="clients__">
   
    <div class="container position-relative">
        @if (Context.Session.GetString("lang") == "Ar")
        {
        <h4 class="text-white text-center f_B text-uppercase">شركائنا</h4>
        <p class="section-desc text-white text-center mb-5">تعرف على شركائنا في النجاح</p> }
        else
        {
        <h4 class="text-white text-center f_B text-uppercase">Our Partners</h4>
        <p class="section-desc text-white text-center mb-5">Meet Our Success Partners</p>
        }

        <div class="owl-carousel  owl-theme section-content">
            <div class="item">
                <img src="~/assets/images/partners/alshahd.jpg" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/Builders.jpg" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/logoWithTextEn.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/corpec.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/goodsmart.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/Avis.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/felkhedma.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/Mrsool-01.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/Ruva.png" alt="">
            </div>
            <div class="item">
                <img src="~/assets/images/partners/UCO.jpeg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ==================================== -->